<div id="options">
    <ul>
        <li  class="button">
            <a routerLink="/listar-usuarios">
                &#9776;  Detalhe de usuários
            </a>
        </li>

        <li class="button">
            <a class="home" routerLink="/">
                &#9750; Home
            </a>
        </li>

        <li class="button">
            <a routerLink="/favoritos">
                &#9733; Favoritos
            </a>
        </li>
    </ul>
</div>

<div id="user">
    <router-outlet></router-outlet>
</div>